/* car-card.css */
.Services-title{
    display: flex;
    gap: 1rem;
    margin-top: 3rem ;
}
.Services-title h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.7rem;
    font-weight: 600;
   
}
.Services-title h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.4rem;
    color: #aaa8a8;
   
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
 
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
    column-gap: 3rem;
   
  }
  
  .card {
    background-color: #f1f1f1;
    /* box-shadow: 5px 10px 10px rgb(219, 219, 219); */
    border-radius: 10px;
    padding: 2px 20px;
    text-align: center;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* .card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
  } */
  
  .card-body {
    text-align: left;
   
  }
  .paddings{
   padding: 20px;
  }
  .card-title {
    font-size: 23px;
    margin-bottom: 8px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400; */
  }
  
  .card-description {
    font-size: 16px;
    color: #666;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
  }
  /* car-card.css */

/* Existing styles... */

.card-button {
  display: block;
  margin-top: 16px;
  padding: 11px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #ffffff;
  color: #000000;
}
@media screen and (max-width: 960px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
       
      }
      
      .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        
      }
      .card {
      
        border-radius: 10px;
        
        width: 100%;
     
       
      }
      .card img {
        width: 150px;
        height:200px;
        object-fit: cover;
        border-radius: 10px;
      }
      .card-description {
        font-size: 16px;
        color: #666;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
      }
      .card-title {
        font-size: 20px;
        margin-bottom: 8px;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400; */
      }
      .card-body {
        text-align: left;
        width: 200px;
       
      }
  .card-description {
  
    width: 170px;
  }
  }


  
