.about {
    padding: 100px 0;
    background-color: rgb(243, 253, 253);
  }
  
  .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1px;
  }
  
  .about h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; /* Add a gap between the image and text */
    width: 100%;
  }
  .about-image{
    background-color: rgb(186, 220, 248);
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px ;
    /* width: 100%;
    height: 300px; */
  }
  .about-image img {
    width: 500px;
    height: auto;
    padding: 30px 25px ;
    border-radius: 8px;
  }
  
  .about-text {
    flex: 1; /* Take up remaining space */
  }
  
  .about-text p {
    font-size: 16px;
    color: grey;
    margin-bottom: 15px;
    width: 400px;
  }
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      gap:1rem;
    }
  
    .about-text {
      margin-top: 30px; /* Add margin on top for better separation */
    }
    .about-image img {
        width: 400px;
        height: auto;
        padding: 47px 30px ;
        border-radius: 8px;
      }
      
   
  }
  